<main id="main">


    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">

        <div class="container">

            <h1>Dungeon App Gallery</h1>
            <div class="image-container">
                <div class="image"><img src="~/img/MyUploads/Portfolio/Dungeon/Dungeon1.png" alt=""></div>
                <div class="image"><img src="~/img/MyUploads/Portfolio/Dungeon/Dungeon2.png" alt=""></div>
                <div class="image"><img src="~/img/MyUploads/Portfolio/Dungeon/Dungeon3.png" alt=""></div>
                <div class="image"><img src="~/img/MyUploads/Portfolio/Dungeon/Dungeon4.png" alt=""></div>
                <div class="image"><img src="~/img/MyUploads/Portfolio/Dungeon/Dungeon5.png" alt=""></div>
                <div class="image"><img src="~/img/MyUploads/Portfolio/Dungeon/Dungeon6.png" alt=""></div>
                <div class="image"><img src="~/img/MyUploads/Portfolio/Dungeon/Dungeon7.png" alt=""></div>
                <div class="image"><img src="~/img/MyUploads/Portfolio/Dungeon/Dungeon8.png" alt=""></div>

            </div>

            <div class="popup-image">
                <span>&times;</span>
                <img src="~/img/MyUploads/Portfolio/Dungeon/Dungeon1.png" alt="">
            </div>

        </div>
    </section>
    <!-- End Portfolio Details Section -->

</main>
<!-- End #main -->
