 <!-- ======= Portfolio Details Section ======= -->
<section id="portfolio-details" class="portfolio-details">
    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-8">
                <div class="portfolio-details-slider swiper">
                    <div class="swiper-wrapper align-items-center">

                        <div class="swiper-slide">
                            <img src="~/img/MyUploads/portfolio/StoreFront/StoreFront1.png" alt="#">
                        </div>

                        <div class="swiper-slide">
                            <img src="~/img/MyUploads/portfolio/StoreFront/StoreFront2.png" alt="#">
                        </div>

                        <div class="swiper-slide">
                            <img src="~/img/MyUploads/portfolio/StoreFront/StoreFront3.png" alt="#">
                        </div>

                        <div class="swiper-slide">
                            <img src="~/img/MyUploads/portfolio/StoreFront/StoreFront4.png" alt="#">
                        </div>


                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>


            <div class="col-lg-4">
                <div class="portfolio-info">
                    <h3>Store Front Database</h3>
                    <ul>

                        <!--Completion Badge-->
                        <li>
                            <strong>Completion Badge</strong>:

                            <blockquote class="badgr-badge" style="font-family: Helvetica, Roboto, &quot;Segoe UI&quot;, Calibri, sans-serif;"><a href="https://api.badgr.io/public/assertions/Krj90speQEmNWX0M20WZMA"><img width="120px" height="120px" src="https://api.badgr.io/public/assertions/Krj90speQEmNWX0M20WZMA/image"></a><p class="badgr-badge-name" style="hyphens: auto; overflow-wrap: break-word; word-wrap: break-word; margin: 0; font-size: 16px; font-weight: 600; font-style: normal; font-stretch: normal; line-height: 1.25; letter-spacing: normal; text-align: left; color: #05012c;">Full Stack Coding Program - SQL Badge</p><p class="badgr-badge-date" style="margin: 0; font-size: 12px; font-style: normal; font-stretch: normal; line-height: 1.67; letter-spacing: normal; text-align: left; color: #555555;"><strong style="font-size: 12px; font-weight: bold; font-style: normal; font-stretch: normal; line-height: 1.67; letter-spacing: normal; text-align: left; color: #000;">Awarded: </strong>Aug 24, 2023</p><p class="badgr-badge-recipient" style="margin: 0; font-size: 12px; font-style: normal; font-stretch: normal; line-height: 1.67; letter-spacing: normal; text-align: left; color: #555555;"><strong style="font-size: 12px; font-weight: bold; font-style: normal; font-stretch: normal; line-height: 1.67; letter-spacing: normal; text-align: left; color: #000;">Awarded To: </strong><span style="display: block;"> Alicia Villegas</span></p><p style="margin: 16px 0; padding: 0;"><a class="badgr-badge-verify" target="_blank" href="https://badgecheck.io?url=https%3A%2F%2Fapi.badgr.io%2Fpublic%2Fassertions%2FKrj90speQEmNWX0M20WZMA" style="box-sizing: content-box; display: flex; align-items: center; justify-content: center; margin: 0; font-size:14px; font-weight: bold; width: 48px; height: 16px; border-radius: 4px; border: solid 1px black; text-decoration: none; padding: 6px 16px; margin: 16px 0; color: black;">VERIFY</a></p><script async="async" src="https://badgr.com/assets/widgets.bundle.js"></script></blockquote>
                        </li>

                        <!--GitHub Repository | UPDATE-->
                        <li>
                            <strong>Github Repository</strong>:
                            <a href="https://github.com/avillegas1717/DungeonApp.git">#</a>
                        </li>
                    </ul>

                </div>

                <div class="portfolio-description">
                    <h2>Project Requirements</h2>
                    <p>
                        <ul>
                            <li>Students who earn the SQL badge have successfully completed the StoreFront Database. This database is part of the StoreFront Application, a mock ecommerce site. The database structure and build out is a vital part of the application, as it is a necessity to complete transactions. For the database, students are required to design a relational database, build the lookup tables, and add data.</li>

                        </ul>
                    </p>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- End Portfolio Details Section -->