
@{
    ViewData["Title"] = "About";
}

<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <br />
        <br />
        <br />
        <br />
        <div class="section-title">
            <h2>About</h2>
        </div>

        <div class="row">

            <div class="col-md-4 d-flex align-items-center mt-4">
                <div id="jokeBox" class="about icon-box">
                    <p>WEB API GOES HERE...</p>
                   
                </div>
            </div>

            <div class="col-md-4 d-flex align-items-center mt-4">
                <div class="about icon-box">
                    <img src="~/img/MyUploads/Alicia.jpg" class="img-fluid" alt="Alicia Villegas">
                </div>
            </div>


            <div class="col-md-4 d-flex align-items-center mt-4">
                <p class="about icon-box">
                    COOL THINGS ABOUT MYSELF GO HERE.....
                </p>

                
            </div>

            

        </div>
        <br />
        <br />
        <br />
        <br />
    </div>
   
</section>
<!-- End About Section -->

@section Scripts {
    <script src="~/js/JokesAPI.js"></script> 
}
