@{
    ViewData["Title"] = "About";
}

<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">


        <br />
        <br />
        <div class="section-title">
            <h2>About</h2>

            <div class="row">

                @*<p my-5>To showcase my ability to connect an API, please enjoy this Random Dad Joke Generator:</p>
                <div id="jokeBox" class="about icon-box">
                <div class="col-md-4 d-flex align-items-center mt-4">
                </div>
                </div> *@

                <div class="col-md-5 d-flex align-items-center mt-4">
                    <div class="about icon-box">
                        <img src="~/img/MyUploads/Alicia.jpg" class="img-fluid" alt="Alicia Villegas">
                    </div>
                </div>

                <div class="col-md-7 d-flex align-items-center mt-4">
                    <p class="about icon-box text-start">

                        I'm a Full Stack .Net Developer eager to contribute my skills to a forward-thinking development team. 
                        <br />
                        <br />
                        I am excited to expand my horizons in front-end development, with a keen focus on elevating UX/UI design to meet the highest accessibility standards. I believe that great design is not just visually appealing but also seamlessly functional for all users.
                        <br />
                        <br />
                        My unique background blends over 15 years of experience in professional photography and retail management, bringing a creative edge and a meticulous eye for detail to my development work. This diverse experience has honed my ability to think outside the box and approach problem-solving with a fresh perspective.
                        <br />
                        <br />
                        When I'm not coding you can find me walking dogs around Kansas City, collecting vinyl, or playing with my dogs Gizmo and Wilson.
                        <br />

                    </p>
                </div>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>
    </div>

</section>
<!-- End About Section -->
@section Scripts {
    <script src="~/js/JokesAPI.js"></script>
}
