
@{
    ViewData["Title"] = "Classmates";
}

<!-- ======= Classmates Section ======= -->
<section id="classmates" class="classmates">
    <div class="container" data-aos="fade-up">

        <br />
        <br />
        <br />
        <br />
        <div class="section-title">
            <h2>Classmates</h2>
            <p>Personal sites from my fellow Centriq classmates.</p>
        </div>

        <div class="row">
            <div class="col-md-2 col-md-3 d-flex justify-content-evenly align-items-center mt-4">
                <div class="icon-box">

                    <img src="~/img/MyUploads/Aiden.jpg" class="" alt="">
                    <h4>Aidan McQuillan</h4>
                    <p>
                        <a href="http://aidanmcquillan.com">aidanmcquillan.com</a>
                    </p>
                </div>
            </div>

            <div class="col-md-2 col-md-3 d-flex justify-content-evenly align-items-center mt-4">
                <div class="icon-box">

                    <img src="~/img/MyUploads/Alex.jpg" class="" alt="">
                    <h4>Alex Davenport</h4>
                    <p>
                        <a href="http://alex-davenport.com/">alex-davenport.com</a>
                    </p>
                </div>
            </div>

            <div class="col-md-2 col-md-3 d-flex justify-content-evenly align-items-center mt-4">
                <div class="icon-box">

                    <img src="~/img/MyUploads/Chanel.jpg" class="" alt="">
                    <h4>Chanel Dubreuil</h4>
                    <p>
                        <a href="http://chaneldubreuil.com">chaneldubreuil.com</a>

                    </p>
                </div>
            </div>

            <div class="col-md-2 col-md-3 d-flex justify-content-evenly align-items-center mt-4">
                <div class="icon-box">

                    <img src="~/img/MyUploads/Chris.jpg" class="" alt="">
                    <h4>Chris Randall</h4>
                    <p>
                        <a href="http://devchristopherrandall.com/">devchristopherrandall.com</a>
                    </p>
                </div>
            </div>

            <div class="col-md-2 col-md-3 d-flex justify-content-evenly align-items-center mt-4">
                <div class="icon-box">

                    <img src="~/img/MyUploads/Dan.jpg" class="" alt="">
                    <h4>Dan Ambro</h4>
                    <p>
                        <a href="http://danielambro.com">danielambro.com</a>
                    </p>
                </div>
            </div>

            <div class="col-md-2 col-md-3 d-flex justify-content-evenly align-items-center mt-4">
                <div class="icon-box">

                    <img src="~/img/MyUploads/Gene.jpg" class="" alt="">
                    <h4>Gene Cathcart</h4>
                    <p>
                        <a href="http://www.genecathcart.com">genecathcart.com</a>
                    </p>
                </div>
            </div>
            <div class="col-md-2 col-md-3 d-flex justify-content-evenly align-items-center mt-4">
                <div class="icon-box">

                    <img src="~/img/MyUploads/Paul.jpg" class="" alt="">
                    <h4>Paul Valenti</h4>
                    <p>
                        <a href="http://bluprintdevelopment.com/">bluprintdevelopment.com</a>
                    </p>
                </div>
            </div>
            <div class="col-md-2 col-md-3 d-flex justify-content-evenly align-items-center mt-4">
                <div class="icon-box">

                    <img src="~/img/MyUploads/Zoey.jpg" class="" alt="">
                    <h4>Zoey Bateman</h4>
                    <p>
                        <a href="http://zoeybateman.com">zoeybateman.com</a>
                    </p>
                </div>
            </div>

        </div>
        <br />
        <br />
        <br />
        <br />
    </div>
</section>
<!-- End Classmates Section -->
