@model PortfolioMVC.UI.MVC.Models.ContactViewModel

@{
    ViewData["Title"] = "Contact";
}


<!-- TODO | UPDATE INFO | UPDATE CONTACT PHP FORM-->
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container col-md-7" data-aos="fade-up">

        <br />
        <br />
        <br />
        <br />
        <div class="section-title">
            <h2>Contact</h2>
            <p>
                I am eager to immerse myself in to the world of Web Dev and collaborate. Whether it's a project idea, a question, or just a friendly chat, don't hesitate to reach out.
                I'm ready to create a brighter digital future, one line of code at a time!
            </p>

            <!-- <p>***THIS PAGE IS CURRENTLY UNDER CONSTRUCTION. CONTACT WILL BE AVAILABLE SOON***</p> -->
        </div>

        <div class="d-flex justify-content-evenly align-items-center mt-4">

            <form asp-action="Contact" class="php-email-form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="row">
                    <div class="col-md-6 form-group">
                        <input asp-for="Name" class="form-control" placeholder="Your Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="col-md-6 form-group mt-3 mt-md-0">
                        <input asp-for="Email" class="form-control" placeholder="Your Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>

                    </div>
                </div>

                <div class="form-group mt-3">
                    <input asp-for="Subject" class="form-control" placeholder="Subject" />
                    <span asp-validation-for="Subject" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <textarea asp-for="Message" class="form-control" rows="5" placeholder="Message"></textarea>
                    <span asp-validation-for="Message" class="text-danger"></span>
                </div>

                <div class="my-3">
                    <div class="loading">Loading</div>

                    <div class="error-message"></div>
                </div>

                <div class="text-center">
                    <input type="submit" value="Submit" class="button" />
                </div>
            </form>

        </div>
        <br />
        <br />
        <br />
        <br />
    </div>

</section>
<!-- End Contact Section -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}