@{
    ViewData["Title"] = "Home";
}


<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container d-flex flex-column align-items-left" data-aos="zoom-in" data-aos-delay="100">

        <h1>Alicia Villegas</h1>
        <h2>Full Stack Web Dev</h2>
        <h3>Kansas City, MO</h3>
        <h4>
            "There are two ways to write error-free programs;
            <br>only the third one works."
        </h4>

    </div>


</section>
<!-- End Hero -->
