@{
    ViewData["Title"] = "Home";
}


<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container d-flex flex-column align-items-left" data-aos="zoom-in" data-aos-delay="100">

        <h1>Alicia Villegas</h1>
        <h2>Full Stack Web Dev</h2>
        <h3>Kansas City, MO</h3>
        <h4 class="pt-2">
            "Everyone can rise above their circumstances and achieve success
            <br />
            if they are dedicated and passionate about what they do."
            <br />
            <br>
            -Nelson Mandela
        </h4>

    </div>


</section>
<!-- End Hero -->
