@{
    ViewData["Title"] = "Portfolio";
}

<section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">

        <br />
        <br />
        <br />
        <br />
        <div class="section-title">
            <h2>Portfolio</h2>
            <p>
                Projects completed at Centriq
            </p>
        </div>

        
        <div class="row">
            <!--Dungeon-->
            <div class="col-md-2 col-md-3 d-flex justify-content-evenly align-items-center mt-4">
                <div class="icon-box">


                    @* <div id="Portfolio" class="lightbox">
                    <img src="~/img/MyUploads/Portfolio/Dungeon/Dungeon1.png" class="" title="gallery" name="#" longdesc="#">
                    <img src="~/img/MyUploads/Portfolio/Dungeon/Dungeon2.png" class="" title="gallery" name="#" longdesc="#">
                    <img src="~/img/MyUploads/Portfolio/Dungeon/Dungeon3.png" class="" title="gallery" name="#" longdesc="#">
                    <img src="~/img/MyUploads/Portfolio/Dungeon/Dungeon4.png" class="" title="gallery" name="#" longdesc="#">
                    <img src="~/img/MyUploads/Portfolio/Dungeon/Dungeon5.png" class="" title="gallery" name="#" longdesc="#">
                    <img src="~/img/MyUploads/Portfolio/Dungeon/Dungeon6.png" class="" title="gallery" name="#" longdesc="#">
                    <img src="~/img/MyUploads/Portfolio/Dungeon/Dungeon7.png" class="" title="gallery" name="#" longdesc="#">
                    <img src="~/img/MyUploads/Portfolio/Dungeon/Dungeon8.png" class="" title="gallery" name="#" longdesc="#">
                    </div> *@

                    <h6>C# | Project description here...</h6>
                    <p>
                        <a href="https://github.com/avillegas1717/DungeonApp.git">DungeonApp.git</a>
                    </p>
                    <a href="https://api.badgr.io/public/assertions/Kr6Pnb-XT2q2Zb5xQZGP8g">
                        <img width="60px" height="60px" src="https://api.badgr.io/public/assertions/Kr6Pnb-XT2q2Zb5xQZGP8g/image">
                    </a>
                </div>
            </div>
            <!--End Dungeon-->
            <!--StoreFront-->
            <div class="col-md-2 col-md-3 d-flex justify-content-evenly align-items-center mt-4">
                <div class="icon-box">
                    @* <div id="Portfolio" class="lightbox">
                    <img src="~/img/MyUploads/Portfolio/StoreFront/StoreFront1.png" class="" title="gallery" name="#" longdesc="#">
                    <img src="~/img/MyUploads/Portfolio/StoreFront/StoreFront2.png" class="" title="gallery" name="#" longdesc="#">
                    <img src="~/img/MyUploads/Portfolio/StoreFront/StoreFront3.png" class="" title="gallery" name="#" longdesc="#">
                    <img src="~/img/MyUploads/Portfolio/StoreFront/StoreFront4.png" class="" title="gallery" name="#" longdesc="#">
                    </div> *@

                    <h6>SQL Database| Project description here...</h6>
                    <p>
                        <a href="#">coming soon...</a>
                    </p>

                    <a href="https://api.badgr.io/public/assertions/Krj90speQEmNWX0M20WZMA">
                        <img width="60px" height="60px" src="https://api.badgr.io/public/assertions/Krj90speQEmNWX0M20WZMA/image"></">
                    </a>
                </div>
            </div>
            <!--End StoreFront-->
            <!--ToDoAPI-->
            <div class="col-md-2 col-md-3 d-flex justify-content-evenly align-items-center mt-4">
                <div class="icon-box">


                    @* <div id="Portfolio" class="lightbox">
                    <img src="~/img/MyUploads/Portfolio/ToDoAPI/ToDoAPI1.png" class="" title="gallery" name="#" longdesc="#">
                    <img src="~/img/MyUploads/Portfolio/ToDoAPI/ToDoAPI2.png" class="" title="gallery" name="#" longdesc="#">
                    <img src="~/img/MyUploads/Portfolio/ToDoAPI/ToDoAPI3.png" class="" title="gallery" name="#" longdesc="#">
                    <img src="~/img/MyUploads/Portfolio/ToDoAPI/ToDoAPI4.png" class="" title="gallery" name="#" longdesc="#">
                    <img src="~/img/MyUploads/Portfolio/ToDoAPI/ToDoAPI5.png" class="" title="gallery" name="#" longdesc="#">
                    </div> *@
                    <h6>Restful | Project description here...</h6>
                    <p>
                        <a href="http://todoapi.aliciavillegas.net/">todoapi.aliciavillegas.net</a>
                    </p>

                    <a href="https://api.badgr.io/public/assertions/tRhbPUliSxqdDzwnkvoTJg">
                        <img width="60px" height="60px" src="https://api.badgr.io/public/assertions/tRhbPUliSxqdDzwnkvoTJg/image"></">
                    </a>
                </div>
            </div>
            <!--End ToDo API-->
            <!--Static Site-->
            <div class="col-md-2 col-md-3 d-flex justify-content-evenly align-items-center mt-4">
                <div class="icon-box">

                    @* <div id="Portfolio" class="lightbox">
                    <img src="#" class="" title="gallery" name="#" longdesc="#">
                    <img src="#" class="" title="gallery" name="#" longdesc="#">
                    <img src="#" class="" title="gallery" name="#" longdesc="#">
                    <img src="#" class="" title="gallery" name="#" longdesc="#">
                    <img src="#" class="" title="gallery" name="#" longdesc="#">
                    </div> *@
                    <h6>Front End | Project description here...</h6>
                    <p>
                        <a href="https://github.com/avillegas1717/PortfolioSiteV2.git">PortfolioSiteV2.git</a>
                    </p>
                    <a href="https://api.badgr.io/public/assertions/1XXRpCYWSeOfphUYtHh67w">
                        <img width="60px" height="60px" src="https://api.badgr.io/public/assertions/1XXRpCYWSeOfphUYtHh67w/image"></">
                    </a>
                </div>
            </div>
            <!--End Static Site-->
            <!--React ToDo-->
            <div class="col-md-2 col-md-3 d-flex justify-content-evenly align-items-center mt-4">
                <div class="icon-box">
                    @* <div id="Portfolio" class="lightbox">
                    <img src="#" class="" title="gallery" name="#" longdesc="#">
                    <img src="#" class="" title="gallery" name="#" longdesc="#">
                    <img src="#" class="" title="gallery" name="#" longdesc="#">
                    <img src="#" class="" title="gallery" name="#" longdesc="#">
                    <img src="#" class="" title="gallery" name="#" longdesc="#">
                    </div> *@
                    <h6>React | Project Description goes here...</h6>
                    <p>
                        <a href="http://todo.aliciavillegas.net">todo.aliciavillegas.net</a>
                    </p>
                </div>
            </div>
            <!--End React ToDo-->
            <!--SAT-->
            <div class="col-md-2 col-md-3 d-flex justify-content-evenly align-items-center mt-4">
                <div class="icon-box">

                    @* <div id="Portfolio" class="lightbox">
                    <img src="#" class="" title="gallery" name="#" longdesc="#">
                    <img src="#" class="" title="gallery" name="#" longdesc="#">
                    <img src="#" class="" title="gallery" name="#" longdesc="#">
                    <img src="#" class="" title="gallery" name="#" longdesc="#">
                    <img src="#" class="" title="gallery" name="#" longdesc="#">
                    </div> *@
                    <h6>SAT | Project description here...</h6>
                    <p>
                        <a href="#">coming soon...</a>
                    </p>
                </div>
            </div>
            <!--End SAT-->
            <!--Admin-->
            <div class="col-md-2 col-md-3 d-flex justify-content-evenly align-items-center mt-4">
                <div class="icon-box">

                    @* <div id="Portfolio" class="lightbox">
                    <img src="#" class="" title="gallery" name="#" longdesc="#">
                    <img src="#" class="" title="gallery" name="#" longdesc="#">
                    <img src="#" class="" title="gallery" name="#" longdesc="#">
                    <img src="#" class="" title="gallery" name="#" longdesc="#">
                    <img src="#" class="" title="gallery" name="#" longdesc="#">
                    </div> *@
                    <h6>Admin | Project description here...</h6>
                    <p>
                        <a href="#">coming soon...</a>
                    </p>
                </div>
            </div>
            <!--End Admin-->
            <!--StoreFront MVC-->
            <div class="col-md-2 col-md-3 d-flex justify-content-evenly align-items-center mt-4">
                <div class="icon-box">

                    @* <div id="Portfolio" class="lightbox">
                    <img src="#" class="" title="gallery" name="#" longdesc="#">
                    <img src="#" class="" title="gallery" name="#" longdesc="#">
                    <img src="#" class="" title="gallery" name="#" longdesc="#">
                    <img src="#" class="" title="gallery" name="#" longdesc="#">
                    <img src="#" class="" title="gallery" name="#" longdesc="#">
                    </div> *@
                    <h6>.NET MVC | Project description here...</h6>
                    <p>
                        <a href="#">coming soon...</a>
                    </p>
                </div>
            </div>
            <!--End StoreFront MVC-->
            <!--Uncomment if need more projects-->
            @* <div class="col-md-2 col-md-3 d-flex justify-content-evenly align-items-center mt-4">
            <div class="icon-box">
            <div id="Portfolio" class="lightbox">
            <img src="#" class="" title="gallery" name="#" longdesc="#">
            <img src="#" class="" title="gallery" name="#" longdesc="#">
            <img src="#" class="" title="gallery" name="#" longdesc="#">
            <img src="#" class="" title="gallery" name="#" longdesc="#">
            <img src="#" class=""   title="gallery" name="#" longdesc="#">
            </div>
            <h6>#</h6>
            <p>
            <a href="#">#</a>
            </p>
            </div>
            </div> *@

        </div>

        <!--Uncomment if decide to display API-->
        @* <div class="col-md-2 col-md-3 d-flex justify-content-evenly align-items-center mt-4">
        <div class="icon-box">
        <img src="#" class="img-fluid" alt="">
        <h6>API</h6>
        <p>
        Coming soon...
        </p>
        </div>
        </div> *@
        <br />
        <br />
        <br />
        <br />
    </div>
</section>
