@{
    ViewData["Title"] = "Portfolio";
}

<section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">

        <br />
        <br />
        <br />
        <br />

        <div class="section-title">
            <h2>Portfolio</h2>
            <p>
                Projects completed at Centriq
            </p>
        </div>

        <div class="row">

            <!--SQL StoreFront-->

            <div class="col-md-2 col-md-3 d-flex justify-content-evenly align-items-center mt-4">
                <div class="icon-box" style="min-height: 304px">

                    <h5 class="text-light">SQL | Database Schema</h5>
                    <p>
                        @* <a href="#">#</a> *@
                    </p>

                    <!--lightgallery-->
                    <div class="demo-gallery">
                        <ul id="lightgallery">
                            <li>
                                <a class="thumbLink" href="javascript:void(0)">
                                    <img class="img-responsive thumb" src="~/img/MyUploads/Portfolio/SQLDatabase/SQL1.png">
                                    <div class="demo-gallery-poster">
                                        <img src="https://sachinchoolur.github.io/lightgallery.js/static/img/zoom.png">
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--end lightgallery-->

                    <p>Project desscription here</p>

                    <a href="https://api.badgr.io/public/assertions/Krj90speQEmNWX0M20WZMA">
                        <img width="60px" height="60px" src="https://api.badgr.io/public/assertions/Krj90speQEmNWX0M20WZMA/image"></">
                    </a>
                </div>
            </div>
            <!--End SQL StoreFront-->

            <!--Dungeon-->
            <div class="col-md-2 col-md-3 d-flex justify-content-evenly align-items-center mt-4">
                <div class="icon-box" style="min-height: 304px">

                    <h5 class="text-light">C# | Dungeon Console App</h5>
                    <p>
                        <a href="https://github.com/avillegas1717/DungeonApp.git">DungeonApp.git</a>
                    </p>

                    <!--lightgallery-->
                    <div class="demo-gallery">
                        <ul id="lightgallery">
                            <li>
                                <a class="thumbLink" href="javascript:void(0)">
                                    <img class="img-responsive thumb" src="~/img/MyUploads/Portfolio/Dungeon/Dungeon1.png">
                                    <div class="demo-gallery-poster">
                                        <img src="https://sachinchoolur.github.io/lightgallery.js/static/img/zoom.png">
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--end lightgallery-->

                    <p>Project desscription here</p>

                    <a href="https://api.badgr.io/public/assertions/Kr6Pnb-XT2q2Zb5xQZGP8g">
                        <img width="60px" height="60px" src="https://api.badgr.io/public/assertions/Kr6Pnb-XT2q2Zb5xQZGP8g/image">
                    </a>
                </div>
            </div>

            <!--End Dungeon-->
            <!--ToDoAPI-->

            <div class="col-md-2 col-md-3 d-flex justify-content-evenly align-items-center mt-4">
                <div class="icon-box" style="min-height: 304px">

                    <h5 class="text-light">REST API | To Do App API</h5>
                    <p>
                        <a href="https://github.com/avillegas1717/ToDoAPI.git">avillegas1717/ToDoAPI.git</a>
                    </p>

                    <!--lightgallery-->
                    <div class="demo-gallery">
                        <ul id="lightgallery">
                            <li>
                                <a class="thumbLink" href="javascript:void(0)">
                                    <img class="img-responsive thumb" src="~/img/MyUploads/Portfolio/ToDoAPI/ToDoAPI1.png">
                                    <div class="demo-gallery-poster">
                                        <img src="https://sachinchoolur.github.io/lightgallery.js/static/img/zoom.png">
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--end lightgallery-->

                    <p>Project desscription here</p>

                    <a href="https://api.badgr.io/public/assertions/tRhbPUliSxqdDzwnkvoTJg">
                        <img width="60px" height="60px" src="https://api.badgr.io/public/assertions/tRhbPUliSxqdDzwnkvoTJg/image"></">
                    </a>
                </div>
            </div>
            <!--End ToDo API-->
            <!--Static Site-->

            <div class="col-md-2 col-md-3 d-flex justify-content-evenly align-items-center mt-4">
                <div class="icon-box" style="min-height: 304px">

                    <h5 class="text-light">Front-End | Static Personal Site</h5>
                    <p>
                        <a href="https://github.com/avillegas1717/PortfolioSiteV2.git">PortfolioSiteV2.git</a>
                    </p>

                    <!--lightgallery-->
                    <div class="demo-gallery">
                        <ul id="lightgallery">
                            <li>
                                <a class="thumbLink" href="javascript:void(0)">
                                    <img class="img-responsive thumb" src="~/img/MyUploads/Portfolio/StaticSite/Static1.png">
                                    <div class="demo-gallery-poster">
                                        <img src="https://sachinchoolur.github.io/lightgallery.js/static/img/zoom.png">
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--end lightgallery-->

                    <p>Project desscription here</p>

                    <a href="https://api.badgr.io/public/assertions/1XXRpCYWSeOfphUYtHh67w">
                        <img width="60px" height="60px" src="https://api.badgr.io/public/assertions/1XXRpCYWSeOfphUYtHh67w/image"></">
                    </a>
                </div>
            </div>
            <!--End Static Site-->
            <!--React ToDo-->

            <div class="col-md-2 col-md-3 d-flex justify-content-evenly align-items-center mt-4">
                <div class="icon-box" style="min-height: 304px">

                    <h5 class="text-light">REACT | To Do App</h5>
                    <p>
                        <a href="https://github.com/avillegas1717/react_todo.git">avillegas1717/react_todo.git</a>
                        @* <a href="http://todo.aliciavillegas.net">todo.aliciavillegas.net</a> *@
                    </p>

                    <!--lightgallery-->
                    <div class="demo-gallery">
                        <ul id="lightgallery">
                            <li>
                                <a class="thumbLink" href="javascript:void(0)">
                                    <img class="img-responsive thumb" src="~/img/MyUploads/Portfolio/ReactToDo/ReactToDo1.png">
                                    <div class="demo-gallery-poster">
                                        <img src="https://sachinchoolur.github.io/lightgallery.js/static/img/zoom.png">
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--end lightgallery-->

                    <p>Project desscription here</p>

                    @* <a href="https://api.badgr.io/public/assertions/1XXRpCYWSeOfphUYtHh67w">
                    <img width="60px" height="60px" src="https://api.badgr.io/public/assertions/1XXRpCYWSeOfphUYtHh67w/image"></">
                    </a> *@
                </div>
            </div>
            <!--End React ToDo-->
            <!--StoreFront MVC-->

            <div class="col-md-2 col-md-3 d-flex justify-content-evenly align-items-center mt-4">
                <div class="icon-box" style="min-height: 304px">

                    <h5 class="text-light">.NET Core MVC | Store Front Site</h5>
                    <p>
                        <a href="#">#</a>
                    </p>

                    <!--lightgallery-->
                    <div class="demo-gallery">
                        <ul id="lightgallery">
                            <li>
                                <a class="thumbLink" href="javascript:void(0)">
                                    <img class="img-responsive thumb" src="~/img/MyUploads/Portfolio/StoreFrontMVC/StoreFrontMVC1.png">
                                    <div class="demo-gallery-poster">
                                        <img src="https://sachinchoolur.github.io/lightgallery.js/static/img/zoom.png">
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--end lightgallery-->

                    <p>Project desscription here</p>

                    @* <a href="https://api.badgr.io/public/assertions/1XXRpCYWSeOfphUYtHh67w">
                    <img width="60px" height="60px" src="https://api.badgr.io/public/assertions/1XXRpCYWSeOfphUYtHh67w/image"></">
                    </a> *@
                </div>
            </div>
            <!--End StoreFront MVC-->            <!--SAT-->

            <div class="col-md-2 col-md-3 d-flex justify-content-evenly align-items-center mt-4">
                <div class="icon-box" style="min-height: 304px">

                    <h5 class="text-light">TEAM | Scheduling Adminstrative Tool</h5>
                    <p>
                        <a href="#">#</a>
                    </p>

                    <!--lightgallery-->
                    <div class="demo-gallery">
                        <ul id="lightgallery">
                            <li>
                                <a class="thumbLink" href="javascript:void(0)">
                                    <img class="img-responsive thumb" src="~/img/MyUploads/Portfolio/SAT/SAT1.png">
                                    <div class="demo-gallery-poster">
                                        <img src="https://sachinchoolur.github.io/lightgallery.js/static/img/zoom.png">
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--end lightgallery-->

                    <p>Project desscription here</p>

                    @* <a href="https://api.badgr.io/public/assertions/1XXRpCYWSeOfphUYtHh67w">
                    <img width="60px" height="60px" src="https://api.badgr.io/public/assertions/1XXRpCYWSeOfphUYtHh67w/image"></">
                    </a> *@
                </div>
            </div>
            <!--End SAT-->
            <!--Admin-->

            <div class="col-md-2 col-md-3 d-flex justify-content-evenly align-items-center mt-4">
                <div class="icon-box" style="min-height: 304px">

                    <h5 class="text-light">GROUP | Admin Dashboard Intranet Site</h5>
                    <p>
                        <a href="#">#</a>
                    </p>

                    <!--lightgallery-->
                    <div class="demo-gallery">
                        <ul id="lightgallery">
                            <li>
                                <a class="thumbLink" href="javascript:void(0)">
                                    <img class="img-responsive thumb" src="~/img/MyUploads/Portfolio/AdminDVPro/Admin1.png">
                                    <div class="demo-gallery-poster">
                                        <img src="https://sachinchoolur.github.io/lightgallery.js/static/img/zoom.png">
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--end lightgallery-->

                    <p>Project desscription here</p>

                    @* <a href="https://api.badgr.io/public/assertions/1XXRpCYWSeOfphUYtHh67w">
                    <img width="60px" height="60px" src="https://api.badgr.io/public/assertions/1XXRpCYWSeOfphUYtHh67w/image"></">
                    </a> *@
                </div>
            </div>
            <!--End Admin-->
            <!--Uncomment if need more projects-->
            @* <div class="col-md-2 col-md-3 d-flex justify-content-evenly align-items-center mt-4">
            <div class="icon-box">

            <!--lightgallery-->
            <div class="demo-gallery">
            <ul id="lightgallery">
            <li>
            <a class="thumbLink" href="javascript:void(0)">
            <img class="img-responsive thumb" src="#">
            <div class="demo-gallery-poster">
            <img src="https://sachinchoolur.github.io/lightgallery.js/static/img/zoom.png">
            </div>
            </a>
            </li>
            </ul>
            </div>
            <!--end lightgallery-->

            <h6># | Project description here...</h6>
            <p>
            <a href="#">#</a>
            </p>
            </div>
            </div> *@

            <!--end more projects-->
            <!--Uncomment if decide to display API-->
            @* <div class="col-md-2 col-md-3 d-flex justify-content-evenly align-items-center mt-4">
            <div class="icon-box">
            <img src="#" class="img-fluid" alt="">
            <h6>API</h6>
            <p>
            Coming soon...
            </p>
            </div>
            </div> *@

            <!--end API-->

        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
</section>
