
/*--------------------------------------------------------------
# General | **UPDATE STATUS**
--------------------------------------------------------------*/
body {
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 78vh;
    height: 100%;
}

a {
    color: #34b7a7;
    text-decoration: none;
}

    a:hover {
        color: #51cdbe;
        text-decoration: none;
    }

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "sans-serif", monospace;
}

.background {
    background-position: right;
    background-repeat: no-repeat;
}

#main section:first-child {
    margin: 6em;
}

/*Badgr Styling*/
/*.badgr-badge .btn-custom {
    background-color: rgba(236, 244, 243, 0.043);
    border: 2px solid rgba(247, 243, 243, 0.125);
    padding: 5px;
    color: #fff;
    font-family: "sans-serif", monospace;
    font-size: 14px;
    transition: 0.4s;
    border-radius: 5px;
}

    .badgr-badge .btn-custom:hover {
        background-color: #3dc8b7;
        color: black;
    }*/



/*--------------------------------------------------------------
# Sections General | **UDATE STATUS** | CLEAN UP CSS
--------------------------------------------------------------*/
.section {
    padding: 60px 0;
}

.section-bg {
    background-color: #e7f8f6;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
    color: #fff;
}

    .section-title h2 {
        font-size: 2.5em;
        font-weight: bold;
        margin-bottom: 20px;
        padding-bottom: 20px;
        position: relative;
    }

        .section-title h2::after {
            content: "";
            position: absolute;
            display: block;
            width: 50px;
            height: 3px;
            background: #34b7a7;
            bottom: 0;
            left: calc(50% - 25px);
        }

    .section-title p {
        margin-bottom: 0;
        font-family: monospace;
        font-size: 16px;
    }



/*--------------------------------------------------------------
# Back to top button | KEEP TO POTENTIALLY USE LATER
--------------------------------------------------------------*/
/* .back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: transparent;
  color: #fff;
  width: 40px;
  height: 40px;
  border-color: #fff;
  border-radius: 50px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #49cbbb;
  color: #fff;
} 
.back-to-top.active {
  visibility: visible;
  opacity: 2;
} */

/*--------------------------------------------------------------
# Header | **COMPLETE** 
--------------------------------------------------------------*/
#header {
    backdrop-filter: blur(24px) saturate(400%);
    -webkit-backdrop-filter: blur(29px) saturate(300%);
    background-color: rgba(236, 244, 243, 0.043);
    border-radius: 4px;
    border: 2px solid rgba(247, 243, 243, 0.125);
    padding: 15px 0;
    color: #fff;
    font-size: 10px;
    text-align: left;
    font-family: "sans-serif", monospace;
}


/*--------------------------------------------------------------
# Navigation Menu | **ALMOST DONE** | CLEAN UP CSS
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Navbar Social Links | **COMPLETE** 
--------------------------------------------------------------*/
.navbar-social-links {
    padding-right: 15px;
    justify-content: space-between;
    position: relative;
}

    .navbar-social-links a {
        color: #fff;
        opacity: 2;
        padding-left: 6px;
        line-height: 0px;
        transition: 0.3s;
        font-size: 16px;
    }

        .navbar-social-links a:hover {
            color: #34b7a7;
        }

    .navbar-social-links .btn-custom {
        background-color: rgba(236, 244, 243, 0.043);
        border: 2px solid rgba(247, 243, 243, 0.125);
        padding: 5px;
        color: #fff;
        font-family: "sans-serif", monospace;
        font-size: 14px;
        transition: 0.4s;
        border-radius: 5px;
    }

        .navbar-social-links .btn-custom:hover {
            background-color: #3dc8b7;
            color: black;
        }

/*--------------------------------------------------------------
  DESKTOP NAGIGATION | ** UPDATE STATUS** | CLEAN UP CSS
--------------------------------------------------------------*/
.navbar {
    padding: 0;
}

    .navbar ul {
        margin: 0;
        padding: 0;
        display: inline-flex;
        list-style: none;
        align-items: center;
    }

    .navbar li {
        position: relative;
        padding: 10px 0 10px 28px;
    }

    .navbar a,
    .navbar a:focus {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        font-family: "sans-serif", monospace;
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        white-space: nowrap;
        transition: 0.3s;
        position: relative;
    }

        .navbar a i,
        .navbar a:focus i {
            font-size: 12px;
            line-height: 0;
            margin-left: 5px;
        }

    .navbar > ul > li > a:before {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        bottom: -5px;
        left: 0;
        background-color: #34b7a7;
        visibility: hidden;
        width: 0px;
        transition: all 0.3s ease-in-out 0s;
    }

    .navbar a:hover:before,
    .navbar li:hover > a:before,
    .navbar .active:before {
        visibility: visible;
        width: 25px;
    }

    .navbar a:hover,
    .navbar .active,
    .navbar .active:focus,
    .navbar li:hover > a {
        color: #34b7a7;
    }

    .navbar .dropdown ul {
        display: block;
        position: absolute;
        left: 14px;
        top: calc(100% + 30px);
        margin: 0;
        padding: 10px 0;
        z-index: 99;
        opacity: 0;
        visibility: hidden;
        background: #fff;
        box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
        transition: 0.3s;
        border-radius: 4px;
    }

        .navbar .dropdown ul li {
            min-width: 200px;
            padding: 0;
        }

        .navbar .dropdown ul a {
            padding: 10px 20px;
            font-size: 15px;
            text-transform: none;
            font-weight: 600;
        }

            .navbar .dropdown ul a i {
                font-size: 12px;
            }

            .navbar .dropdown ul a:hover,
            .navbar .dropdown ul .active:hover,
            .navbar .dropdown ul li:hover > a {
                color: #34b7a7;
            }

    .navbar .dropdown:hover > ul {
        opacity: 1;
        top: 100%;
        visibility: visible;
    }

    .navbar .dropdown .dropdown ul {
        top: 0;
        left: calc(100% - 30px);
        visibility: hidden;
    }

    .navbar .dropdown .dropdown:hover > ul {
        opacity: 1;
        top: 0;
        left: 100%;
        visibility: visible;
    }

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover > ul {
        left: -100%;
    }
}

   

/*--------------------------------------------------------------
# Hero Section | **COMPLETE** | CLEAN UP CSS
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 100vh;
}

    #hero .container {
        padding-top: 70px;
        position: relative;
    }


#hero h1 {
    margin: 0;
    font-family: sans-serif;
    font-size: 90px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}

#hero h2 {
    color: #40e1cf;
    margin: 10px 0 0 0;
    font-size: 30px;
}

#hero h3 {
    color: #cb56ee;
    margin: 10px 0 0 0;
    font-size: 32px;
}

#hero h4 {
    color: #fff;
    margin: 10px 0 0 0;
    font-size: 20px;
    font-family: monospace;
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 992px) {
    #hero:before {
        content: "";
        background: rgba(255, 255, 255, 0.8);
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }

    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #hero h2 {
        font-size: 18px;
        line-height: 24px;
    }

    #hero h3 {
        font-size: 18px;
        line-height: 24px;
    }

    #hero h4 {
        font-size: 18px;
        line-height: 24px;
    }
}


/*--------------------------------------------------------------
# About | **ALMOST DONE** | STYLE API 
--------------------------------------------------------------*/
.about .content {
    font-weight: 200;
    display: inline-flex;
    justify-content: end;
}

.about .icon-box {
    backdrop-filter: blur(24px) saturate(400%);
    -webkit-backdrop-filter: blur(29px) saturate(300%);
    background-color: rgba(236, 244, 243, 0.043);
    border-radius: 4px;
    border: 2px solid rgba(247, 243, 243, 0.125);
    padding: 60px 20px;
    transition: all ease-in-out 0.3s;
}

.about p {
    font-family: monospace;
    font-size: 18px;
    color: #fff;
}

/*.about .icon-box jokeBox {
    font-family: monospace;
    font-size: 14px;
    color: #fff;
}*/



/*--------------------------------------------------------------
# Classmates | **COMPLETE** | 
--------------------------------------------------------------*/
.classmates .icon-box {
    backdrop-filter: blur(24px) saturate(400%);
    -webkit-backdrop-filter: blur(29px) saturate(300%);
    background-color: rgba(236, 244, 243, 0.043);
    border-radius: 4px;
    border: 2px solid rgba(247, 243, 243, 0.125);
    padding: 20px 20px 10px 20px;
    text-align: center;
    transition: all ease-in-out 0.3s;
    font-family: "sans-serif", monospace;
}

    .classmates .icon-box h4 {
        font-weight: 550;
        margin: 10px 0 15px 0;
        font-size: 22px;
        color: #fff;
    }

.classmates a {
    color: #cb56ee;
    font-size: 16px;
}

    .classmates a:hover {
        color: #34b7a7;
    }

/*--------------------------------------------------------------
# Portfolio | **UPDATE AS PROJECTS ARE FINISHED**
--------------------------------------------------------------*/

.portfolio .icon-box {
    backdrop-filter: blur(24px) saturate(400%);
    -webkit-backdrop-filter: blur(29px) saturate(300%);
    background-color: rgba(236, 244, 243, 0.043);
    border-radius: 4px;
    border: 2px solid rgba(247, 243, 243, 0.125);
    padding: 20px 20px 10px 20px;
    text-align: center;
    transition: all ease-in-out 0.3s;
    font-family: "sans-serif", monospace;
  
}

    .portfolio .icon-box h4 {
        font-weight: 550;
        margin: 10px 0 15px 0;
        font-size: 22px;
        color: #fff;
    }

.portfolio a {
    color: #cb56ee;
    font-size: 16px;
}

    .portfolio a:hover {
        color: #34b7a7;
    }

/*****STYLE LIGHTBOX*****/


.small {
    font-size: 11px;
    color: #999;
    display: block;
    margin-top: -10px
}

.cont {
    text-align: center;
}

.page-head {
    padding: 60px 0;
    text-align: center;
}

    .page-head .lead {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.4;
        margin-bottom: 50px;
        margin-top: 0;
    }

.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
}

.btn-lg {
    border-radius: 2px;
    font-size: 18px;
    line-height: 1.33333;
    padding: 10px 16px;
}

.btn-primary:hover {
    background-color: #fff;
    color: #152836;
}

.btn-primary {
    background-color: #152836;
    border-color: #0e1a24;
    color: #ffffff;
}

.btn-primary {
    border-color: #eeeeee;
    color: #eeeeee;
    transition: color 0.1s ease 0s, background-color 0.15s ease 0s;
}

.page-head h1 {
    font-size: 42px;
    margin: 0 0 20px;
    color: #FFF;
    position: relative;
    display: inline-block;
}

    .page-head h1 .version {
        bottom: 0;
        color: #ddd;
        font-size: 11px;
        font-style: italic;
        position: absolute;
        width: 58px;
        right: -58px;
    }

.demo-gallery > ul {
    margin-bottom: 0;
    padding-left: 15px;
}

    .demo-gallery > ul > li {
        margin-bottom: 15px;
        width: 180px;
        display: inline-block;
        margin-right: 15px;
        list-style: outside none none;
    }

        .demo-gallery > ul > li a {
            border: 3px solid #FFF;
            border-radius: 3px;
            display: block;
            overflow: hidden;
            position: relative;
            float: left;
        }

            .demo-gallery > ul > li a > img {
                -webkit-transition: -webkit-transform 0.15s ease 0s;
                -moz-transition: -moz-transform 0.15s ease 0s;
                -o-transition: -o-transform 0.15s ease 0s;
                transition: transform 0.15s ease 0s;
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
                height: 100%;
                width: 100%;
            }

            .demo-gallery > ul > li a:hover > img {
                -webkit-transform: scale3d(1.1, 1.1, 1.1);
                transform: scale3d(1.1, 1.1, 1.1);
            }

            .demo-gallery > ul > li a:hover .demo-gallery-poster > img {
                opacity: 1;
            }

            .demo-gallery > ul > li a .demo-gallery-poster {
                background-color: rgba(0, 0, 0, 0.1);
                bottom: 0;
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
                -webkit-transition: background-color 0.15s ease 0s;
                -o-transition: background-color 0.15s ease 0s;
                transition: background-color 0.15s ease 0s;
            }

                .demo-gallery > ul > li a .demo-gallery-poster > img {
                    left: 50%;
                    margin-left: -10px;
                    margin-top: -10px;
                    opacity: 0;
                    position: absolute;
                    top: 50%;
                    -webkit-transition: opacity 0.3s ease 0s;
                    -o-transition: opacity 0.3s ease 0s;
                    transition: opacity 0.3s ease 0s;
                }

            .demo-gallery > ul > li a:hover .demo-gallery-poster {
                background-color: rgba(0, 0, 0, 0.5);
            }

.demo-gallery .justified-gallery > a > img {
    -webkit-transition: -webkit-transform 0.15s ease 0s;
    -moz-transition: -moz-transform 0.15s ease 0s;
    -o-transition: -o-transform 0.15s ease 0s;
    transition: transform 0.15s ease 0s;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    height: 100%;
    width: 100%;
}

.demo-gallery .justified-gallery > a:hover > img {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
}

.demo-gallery .justified-gallery > a:hover .demo-gallery-poster > img {
    opacity: 1;
}

.demo-gallery .justified-gallery > a .demo-gallery-poster {
    background-color: rgba(0, 0, 0, 0.1);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: background-color 0.15s ease 0s;
    -o-transition: background-color 0.15s ease 0s;
    transition: background-color 0.15s ease 0s;
}

    .demo-gallery .justified-gallery > a .demo-gallery-poster > img {
        left: 50%;
        margin-left: -10px;
        margin-top: -10px;
        opacity: 0;
        position: absolute;
        top: 50%;
        -webkit-transition: opacity 0.3s ease 0s;
        -o-transition: opacity 0.3s ease 0s;
        transition: opacity 0.3s ease 0s;
    }

.demo-gallery .justified-gallery > a:hover .demo-gallery-poster {
    background-color: rgba(0, 0, 0, 0.5);
}

.demo-gallery .video .demo-gallery-poster img {
    height: 48px;
    margin-left: -24px;
    margin-top: -24px;
    opacity: 0.8;
    width: 48px;
}

.demo-gallery.dark > ul > li a {
    border: 3px solid #04070a;
}

.thumb {
    cursor: pointer;
    border-radius: 10px;
}

#lightbox-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .9);
    z-index: 200000;
    text-align: center;
    padding: 3em;
    /*A quick tip: Only set the display: none after you have 
   styled the element to your liking. We will then use jQuery 
   to open this lightbox*/
    display: none;
}

    #lightbox-container p {
        color: #fff;
    }

#lightbox-content img {
    border-radius: 10px;
}
/*--------------------------------------------------------------
# Contact | **COMPLETE**
--------------------------------------------------------------*/
.contact .php-email-form {
    backdrop-filter: blur(24px) saturate(400%);
    -webkit-backdrop-filter: blur(29px) saturate(300%);
    background-color: rgba(236, 244, 243, 0.043);
    border-radius: 4px;
    border: 2px solid rgba(247, 243, 243, 0.125);
    padding: 60px 30px;
    transition: all ease-in-out 0.3s;
}

    .contact .php-email-form .form-group {
        padding-bottom: 8px;
        border-radius: 4px;
        box-shadow: none;
        font-size: 14px;
        font-family: "sans-serif", monospace;
        color: #fff;
    }

    /* FIGURE THIS OUT */
    .contact .php-email-form .error-message {
        display: none;
        color: #fff;
        background: #cb56ee;
        text-align: center;
        padding: 15px;
        font-weight: 600;
    }

    .contact .php-email-form .sent-message {
        display: none;
        color: #fff;
        background: #34b7a7;
        text-align: center;
        padding: 15px;
        font-weight: 600;
    }

    .contact .php-email-form .loading {
        display: none;
        background: #fff;
        text-align: center;
        padding: 15px;
    }

        .contact .php-email-form .loading:before {
            content: "";
            display: inline-flex;
            border-radius: 50%;
            width: 14px;
            height: 14px;
            margin: 0 10px -6px 0;
            border: 3px solid #34b7a7;
            border-top-color: #eee;
            animation: animate-loading 1s linear infinite;
        }

    /* FIGURE THIS OUT */
    .contact .php-email-form input,
    .contact .php-email-form input::placeholder,
    .contact .php-email-form textarea,
    .contact .php-email-form textarea::placeholder {
        color: #fff;
        background-color: black;
    }

        .contact .php-email-form input:focus,
        .contact .php-email-form textarea:focus {
            border-color: #34b7a7;
        }

    .contact .php-email-form input {
        height: 44px;
    }

    .contact .php-email-form textarea {
        padding: 10px 12px;
    }

    /* BUTTON COMPLETE */
    .contact .php-email-form .button {
        background-color: rgba(236, 244, 243, 0.043);
        border: 2px solid rgba(247, 243, 243, 0.125);
        padding: 5px;
        color: #fff;
        font-family: "sans-serif", monospace;
        font-size: 14px;
        transition: 0.4s;
        border-radius: 5px;
    }

        .contact .php-email-form .button:hover {
            background: #3dc8b7;
            color: black;
        }

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
# Email Confirmation | **almost done**
--------------------------------------------------------------*/
/*TODO | figure out styling*/


.emailConf .icon-box {
    backdrop-filter: blur(24px) saturate(400%);
    -webkit-backdrop-filter: blur(29px) saturate(300%);
    background-color: rgba(236, 244, 243, 0.043);
    border-radius: 4px;
    border: 2px solid rgba(247, 243, 243, 0.125);
    padding: 60px 20px;
    transition: all ease-in-out 0.3s;
}

.emailConf h2 {
    color: #34b7a7;
    text-align: center;
}

.emailConf p {
    font-family: monospace;
    font-size: 16px;
    color: #fff;
    text-align: center;
}




/*--------------------------------------------------------------
# Footer | **COMPLETE**
--------------------------------------------------------------*/
#footer {
    backdrop-filter: blur(24px) saturate(400%);
    -webkit-backdrop-filter: blur(29px) saturate(300%);
    background-color: rgba(236, 244, 243, 0.043);
    border-radius: 4px;
    border: 2px solid rgba(247, 243, 243, 0.125);
    padding: 10px 30px;
    color: #fff;
    font-size: 10px;
    text-align: left;
    font-family: "sans-serif", monospace;
}

    #footer .credits strong {
        color: #cb56ee;
    }

    #footer .copyright strong {
        color: #34b7a7;
    }
